$grey: #f2f2f2;
$green-menthe: #99e2d0;
$rose: #ff79da;
$purple: #9356dc;
$white: #ffffff;
$darkpurple: #9256dc9a;
$darkrose: #c24da1;
$degradefoncé: linear-gradient(to top, $darkpurple, $darkrose);
$degrade: linear-gradient(to top, $purple, $rose);
$shadow: 1px 1px 10px 5px rgba(187, 187, 187, 0.589);
